[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=API.java
Type=Link
URL=https://docs.google.com/document/d/1cN071joAz2G68zpPxduNwGqnarVbR2zz0LcuoeHhrK8/edit?usp=drivesdk
